In [195]:
import pandas as pd
from IPython.display import display

# Obtengo datos con la API de ENACOM
# Penetración de Internet fijo (accesos por cada 100 hogares)
accesocada100hogares1 = pd.read_csv(r'datasets\accesocada100hogares1.csv')
accesocada100hogares2 = pd.read_csv(r'datasets\accesocada100hogares2.csv')

# Acceso a internet fijo por velocidad de descarga y localidad
aif_velocidad_localidad = pd.read_csv(r'datasets\aif_velocidad_localidad.csv')

# Conectividad al servicio de internet
conectividad_internet = pd.read_csv(r'datasets\conectividad_internet.csv')

# Historico velocidad internet
historico_velocidad_internet = pd.read_csv(r'datasets\historico_velocidad_internet.csv')

# Internet acceso por tecnologia
acceso_tecnologia = pd.read_csv(r'datasets\Internet_Accesos_Tecnologia.csv')

# Internet acceso por velocidad
acceso_velocidad = pd.read_csv(r'datasets\Internet_Accesos_Velocidad.csv')

# Internet BAF
internet_baf = pd.read_csv(r'datasets\Internet_BAF.csv')
internet_baf2 = pd.read_csv(r'datasets\Internet_BAF(1).csv')

# Internet Ingresos
internet_ingresos = pd.read_csv(r'datasets\Internet_Ingresos.csv')

# Listados localidades con conectividad a internet
listado_localidades = pd.read_csv(r'datasets\Listado_Localidades_Conectividad.csv')

In [196]:
display(accesocada100hogares1.head(), accesocada100hogares1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           840 non-null    int64
 1   Trimestre                     840 non-null    int64
 2   Provincia                     840 non-null    object
 3   Accesos por cada 100 hogares  840 non-null    object
dtypes: int64(2), object(2)
memory usage: 26.4+ KB

    Año  Trimestre        Provincia Accesos por cada 100 hogares
0  2022          3     Buenos Aires                        78,11
1  2022          3  Capital Federal                       122,28
2  2022          3        Catamarca                        65,33
3  2022          3            Chaco                        43,86
4  2022          3           Chubut                        84,38

None

In [197]:
columnas_100_provincia = ['anio', 'trimestre', 'provincia', 'cada_100_hog']
accesocada100hogares1.columns = columnas_100_provincia


accesocada100hogares1['cada_100_hog'] = accesocada100hogares1['cada_100_hog'].str.replace(',', '.')
accesocada100hogares1['cada_100_hog'] = accesocada100hogares1['cada_100_hog'].astype(float)
accesocada100hogares1['trim_anio'] = pd.PeriodIndex(year=accesocada100hogares1['anio'], quarter=accesocada100hogares1['trimestre']).to_timestamp()
accesocada100hogares1 = accesocada100hogares1.sort_values('trim_anio')
accesocada100hogares1.to_pickle(r'datasets\conexiones_pais_provincia.pkl')

In [211]:
accesocada100hogares1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 840 entries, 839 to 0
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   anio          840 non-null    int64
 1   trimestre     840 non-null    int64
 2   provincia     840 non-null    object
 3   cada_100_hog  840 non-null    float64
 4   trim_anio     840 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 39.4+ KB

In [198]:
display(accesocada100hogares2.head(), accesocada100hogares2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           35 non-null     int64
 1   Trimestre                     35 non-null     int64
 2   Accesos por cada 100 hogares  35 non-null     object
 3   Accesos por cada 100 hab      35 non-null     object
 4   Periodo                       35 non-null     object
dtypes: int64(2), object(3)
memory usage: 1.5+ KB

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab,Periodo
0,2022,3,"76,64","23,95",Jul-Sept 2022
1,2022,2,"75,97","23,72",Abr-Jun 2022
2,2022,1,"73,88","23,05",Ene-Mar 2022
3,2021,4,"73,18","22,81",Oct-Dic 2021
4,2021,3,"70,58","21,98",Jul-Sept 2021

None

In [199]:
columnas_100h = ['anio', 'trimestre', 'cada_100_hog', 'cada_100_hab', 'periodo']
accesocada100hogares2.columns = columnas_100h
accesocada100hogares2['cada_100_hog'] = accesocada100hogares2['cada_100_hog'].str.replace(',', '.')
accesocada100hogares2['cada_100_hab'] = accesocada100hogares2['cada_100_hab'].str.replace(',', '.')
accesocada100hogares2['cada_100_hog'] = accesocada100hogares2['cada_100_hog'].astype(float)
accesocada100hogares2['cada_100_hab'] = accesocada100hogares2['cada_100_hab'].astype(float)
accesocada100hogares2['trim_anio'] = pd.PeriodIndex(year=accesocada100hogares2['anio'], quarter=accesocada100hogares2['trimestre']).to_timestamp()
accesocada100hogares2 = accesocada100hogares2.sort_values('trim_anio')
accesocada100hogares2.to_pickle(r'datasets\conexiones_pais_100.pkl')

In [200]:
accesocada100hogares2.head()

    anio  trimestre  cada_100_hog  cada_100_hab        periodo  trim_anio
34  2014          1         49.55         15.05   Ene-Mar 2014 2014-01-01
33  2014          2         49.86         15.16   Abr-Jun 2014 2014-04-01
32  2014          3         50.67         15.43  Jul-Sept 2014 2014-07-01
31  2014          4         50.50         15.39   Oct-Dic 2014 2014-10-01
30  2015          1         51.36         15.68   Ene-Mar 2015 2015-01-01

In [201]:
display(aif_velocidad_localidad.head(), aif_velocidad_localidad.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3098 entries, 0 to 3097
Data columns (total 83 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Provincia   3098 non-null   object
 1   Partido     3098 non-null   object
 2   Localidad   3098 non-null   object
 3   Link Indec  3098 non-null   object
 4   Otros       956 non-null    object
 5   0,256 mbps  29 non-null     float64
 6   0,375 mbps  1 non-null      float64
 7   0,5 mbps    643 non-null    object
 8   0,512 mbps  524 non-null    float64
 9   0,625 mbps  1 non-null      float64
 10  0,75 mbps   284 non-null    object
 11  1 mbps      931 non-null    object
 12  1,25 mbps   1 non-null      float64
 13  1,5 mbps    16 non-null     object
 14  2 mbps      741 non-null    object
 15  2,2 mbps    1 non-null      float64
 16  2,5 mbps    3 non-null      float64
 17  3 mbps      1388 non-null   object
 18  3,3 mbps    1 non-null      float64
 19  3,5 mbps    373 non-null    object
 20  4 mbps      539 non-null    object
 21  4,5 mbps    1 non-null      float64
 22  5 mbps      1013 non-null   object
 23  6 mbps      1436 non-null   object
 24  6,4 mbps    1 non-null      float64
 25  7 mbps      221 non-null    object
 26  7,5 mbps    4 non-null      float64
 27  8 mbps      616 non-null    object
 28  9 mbps      52 non-null     object
 29  10 mbps     1685 non-null   object
 30  11 mbps     27 non-null     float64
 31  12 mbps     519 non-null    object
 32  13 mbps     15 non-null     float64
 33  14 mbps     20 non-null     float64
 34  15 mbps     1020 non-null   object
 35  16 mbps     18 non-null     object
 36  17 mbps     1 non-null      float64
 37  18 mbps     237 non-null    object
 38  19 mbps     1 non-null      float64
 39  20 mbps     1053 non-null   object
 40  21 mbps     4 non-null      float64
 41  22 mbps     1 non-null      float64
 42  23 mbps     2 non-null      float64
 43  24 mbps     14 non-null     object
 44  25 mbps     580 non-null    object
 45  25,1 mbps   1 non-null      float64
 46  25,11 mbps  1 non-null      float64
 47  25,5 mbps   1 non-null      float64
 48  26 mbps     2 non-null      float64
 49  30 mbps     693 non-null    object
 50  31 mbps     4 non-null      float64
 51  32 mbps     2 non-null      float64
 52  34 mbps     1 non-null      float64
 53  35 mbps     12 non-null     float64
 54  36 mbps     2 non-null      float64
 55  38 mbps     1 non-null      float64
 56  39 mbps     1 non-null      float64
 57  40 mbps     92 non-null     object
 58  41 mbps     1 non-null      float64
 59  45 mbps     3 non-null      float64
 60  46 mbps     1 non-null      float64
 61  49 mbps     1 non-null      float64
 62  50 mbps     645 non-null    object
 63  55 mbps     4 non-null      float64
 64  58 mbps     1 non-null      float64
 65  59 mbps     1 non-null      float64
 66  60 mbps     257 non-null    object
 67  61 mbps     3 non-null      float64
 68  62 mbps     1 non-null      float64
 69  64 mbps     1 non-null      float64
 70  65 mbps     2 non-null      float64
 71  66 mbps     1 non-null      float64
 72  70 mbps     10 non-null     object
 73  75 mbps     227 non-null    object
 74  78 mbps     1 non-null      float64
 75  80 mbps     16 non-null     float64
 76  82 mbps     1 non-null      float64
 77  83 mbps     1 non-null      float64
 78  85 mbps     1 non-null      float64
 79  90 mbps     2 non-null      float64
 80  92 mbps     2 non-null      float64
 81  95 mbps     1 non-null      float64
 82  100 mbps    553 non-null    object
dtypes: float64(50), object(33)
memory usage: 2.0+ MB

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256 mbps","0,375 mbps","0,5 mbps","0,512 mbps","0,625 mbps",...,75 mbps,78 mbps,80 mbps,82 mbps,83 mbps,85 mbps,90 mbps,92 mbps,95 mbps,100 mbps
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,NaN,NaN,NaN,2,NaN,NaN,...,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BUENOS AIRES,25 de Mayo,Del Valle,6854020,NaN,NaN,NaN,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BUENOS AIRES,25 de Mayo,Ernestina,6854030,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

None

In [202]:

# obtengo todas las columnas menos las 5 primeras
columnas_convertir = aif_velocidad_localidad.columns[5:]

# Convertir las columnas en tipo de datos float
aif_velocidad_localidad[columnas_convertir] = aif_velocidad_localidad[columnas_convertir].apply(pd.to_numeric, errors='coerce')

# Verificar los tipos de datos después de la conversión
aif_velocidad_localidad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3098 entries, 0 to 3097
Data columns (total 83 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Provincia   3098 non-null   object
 1   Partido     3098 non-null   object
 2   Localidad   3098 non-null   object
 3   Link Indec  3098 non-null   object
 4   Otros       956 non-null    object
 5   0,256 mbps  29 non-null     float64
 6   0,375 mbps  1 non-null      float64
 7   0,5 mbps    642 non-null    float64
 8   0,512 mbps  524 non-null    float64
 9   0,625 mbps  1 non-null      float64
 10  0,75 mbps   283 non-null    float64
 11  1 mbps      916 non-null    float64
 12  1,25 mbps   1 non-null      float64
 13  1,5 mbps    15 non-null     float64
 14  2 mbps      724 non-null    float64
 15  2,2 mbps    1 non-null      float64
 16  2,5 mbps    3 non-null      float64
 17  3 mbps      1335 non-null   float64
 18  3,3 mbps    1 non-null      float64
 19  3,5 mbps    338 non-null    float64
 20  4 mbps      523 non-null    float64
 21  4,5 mbps    1 non-null      float64
 22  5 mbps      991 non-null    float64
 23  6 mbps      1340 non-null   float64
 24  6,4 mbps    1 non-null      float64
 25  7 mbps      213 non-null    float64
 26  7,5 mbps    4 non-null      float64
 27  8 mbps      570 non-null    float64
 28  9 mbps      50 non-null     float64
 29  10 mbps     1503 non-null   float64
 30  11 mbps     27 non-null     float64
 31  12 mbps     484 non-null    float64
 32  13 mbps     15 non-null     float64
 33  14 mbps     20 non-null     float64
 34  15 mbps     964 non-null    float64
 35  16 mbps     17 non-null     float64
 36  17 mbps     1 non-null      float64
 37  18 mbps     233 non-null    float64
 38  19 mbps     1 non-null      float64
 39  20 mbps     997 non-null    float64
 40  21 mbps     4 non-null      float64
 41  22 mbps     1 non-null      float64
 42  23 mbps     2 non-null      float64
 43  24 mbps     10 non-null     float64
 44  25 mbps     532 non-null    float64
 45  25,1 mbps   1 non-null      float64
 46  25,11 mbps  1 non-null      float64
 47  25,5 mbps   1 non-null      float64
 48  26 mbps     2 non-null      float64
 49  30 mbps     555 non-null    float64
 50  31 mbps     4 non-null      float64
 51  32 mbps     2 non-null      float64
 52  34 mbps     1 non-null      float64
 53  35 mbps     12 non-null     float64
 54  36 mbps     2 non-null      float64
 55  38 mbps     1 non-null      float64
 56  39 mbps     1 non-null      float64
 57  40 mbps     91 non-null     float64
 58  41 mbps     1 non-null      float64
 59  45 mbps     3 non-null      float64
 60  46 mbps     1 non-null      float64
 61  49 mbps     1 non-null      float64
 62  50 mbps     404 non-null    float64
 63  55 mbps     4 non-null      float64
 64  58 mbps     1 non-null      float64
 65  59 mbps     1 non-null      float64
 66  60 mbps     141 non-null    float64
 67  61 mbps     3 non-null      float64
 68  62 mbps     1 non-null      float64
 69  64 mbps     1 non-null      float64
 70  65 mbps     2 non-null      float64
 71  66 mbps     1 non-null      float64
 72  70 mbps     9 non-null      float64
 73  75 mbps     203 non-null    float64
 74  78 mbps     1 non-null      float64
 75  80 mbps     16 non-null     float64
 76  82 mbps     1 non-null      float64
 77  83 mbps     1 non-null      float64
 78  85 mbps     1 non-null      float64
 79  90 mbps     2 non-null      float64
 80  92 mbps     2 non-null      float64
 81  95 mbps     1 non-null      float64
 82  100 mbps    299 non-null    float64
dtypes: float64(78), object(5)
memory usage: 2.0+ MB

In [203]:
display(conectividad_internet.head(), conectividad_internet.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4312 entries, 0 to 4311
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      4312 non-null   object
 1   Partido        4312 non-null   object
 2   Localidad      4312 non-null   object
 3   Poblacion      4312 non-null   int64
 4   ADSL           4312 non-null   object
 5   CABLEMODEM     4312 non-null   object
 6   DIALUP         4312 non-null   object
 7   FIBRAOPTICA    4312 non-null   object
 8   SATELITAL      4312 non-null   object
 9   WIRELESS       4312 non-null   object
 10  TELEFONIAFIJA  4312 non-null   object
 11  3G             4312 non-null   object
 12  4G             4312 non-null   object
 13  link           4300 non-null   float64
 14  Latitud        4312 non-null   object
 15  Longitud       4312 non-null   object
dtypes: float64(1), int64(1), object(14)
memory usage: 539.1+ KB

,Provincia,Partido,Localidad,Poblacion,ADSL,CABLEMODEM,DIALUP,FIBRAOPTICA,SATELITAL,WIRELESS,TELEFONIAFIJA,3G,4G,link,Latitud,Longitud
0,BUENOS AIRES,Bahía Blanca,Villa Bordeau,0,--,--,--,--,--,--,--,SI,SI,6056020.0,"-38,6472605094596","-62,3200223419024"
1,BUENOS AIRES,Bahía Blanca,Villa Espora,0,--,--,--,--,--,--,--,--,--,6056020.0,"-38,7765069529222","-62,1851833537179"
2,BUENOS AIRES,Balcarce,Balcarce,38376,SI,SI,SI,SI,--,SI,SI,SI,SI,6063010.0,"-37,8482779294345","-58,2551665841248"
3,BUENOS AIRES,Balcarce,Los Pinos,337,--,--,--,--,--,SI,SI,--,--,6063020.0,"-37,9412057603","-58,3225920150442"
4,BUENOS AIRES,Balcarce,Napaleofú,374,--,--,--,SI,--,SI,SI,SI,SI,6063030.0,"-37,6254980210026","-58,7461862359423"

None

In [204]:
display(historico_velocidad_internet.head(), historico_velocidad_internet.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     35 non-null     int64
 1   Trimestre               35 non-null     int64
 2   Mbps (Media de bajada)  35 non-null     object
 3   Trimestre.1             35 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.2+ KB

    Año  Trimestre Mbps (Media de bajada)    Trimestre.1
0  2022          3                  62,46  Jul-Sept 2022
1  2022          2                  58,44   Abr-Jun 2022
2  2022          1                  55,11   Ene-Mar 2022
3  2021          4                  52,34   Oct-Dic 2021
4  2021          3                  48,46  Jul-Sept 2021

None

In [205]:
display(acceso_tecnologia.head(), acceso_tecnologia.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           35 non-null     int64
 1   Trimestre     35 non-null     int64
 2   ADSL          35 non-null     object
 3   Cablemodem    35 non-null     object
 4   Fibra óptica  35 non-null     object
 5   Wireless      35 non-null     float64
 6   Otros         35 non-null     float64
 7   Total         35 non-null     object
 8   Periodo       35 non-null     object
dtypes: float64(2), int64(2), object(5)
memory usage: 2.6+ KB

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo
0,2022,3,1.395.277,6.031.970,2.871.541,557.110,235.230,11.091.128,Jul-Sept 2022
1,2022,2,1.468.333,5.979.214,2.723.285,556.243,231.609,10.958.684,Abr-Jun 2022
2,2022,1,1.533.240,6.073.426,2.219.533,545.814,251.996,10.624.009,Ene-Mar 2022
3,2021,4,1.657.615,5.984.240,2.072.236,523.107,252.596,10.489.794,Oct-Dic 2021
4,2021,3,1.950.631,5.826.257,1.566.048,492.415,250.190,10.085.541,Jul-Sept 2021

None

In [206]:
display(acceso_velocidad.head(), acceso_velocidad.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Año                  840 non-null    int64
 1   Trimestre            840 non-null    int64
 2   Provincia            840 non-null    object
 3   HASTA 512 kbps       840 non-null    float64
 4   + 512 Kbps - 1 Mbps  840 non-null    float64
 5   + 1 Mbps - 6 Mbps    840 non-null    object
 6   + 6 Mbps - 10 Mbps   840 non-null    float64
 7   + 10 Mbps - 20 Mbps  840 non-null    float64
 8   + 20 Mbps - 30 Mbps  840 non-null    float64
 9   + 30 Mbps            840 non-null    object
 10  OTROS                834 non-null    float64
 11  Total                840 non-null    object
dtypes: float64(6), int64(2), object(4)
memory usage: 78.9+ KB

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2022,3,Buenos Aires,29.985,27.709,290.315,297.915,267.044,124.190,3.618.689,65.821,4.721.668
1,2022,3,Capital Federal,517.000,5.742,34.371,67.829,51.946,28.692,1.253.105,105.477,1.547.679
2,2022,3,Catamarca,71.000,384.000,3.107,5.389,5.099,3.737,50.298,2.208,70.293
3,2022,3,Chaco,461.000,987.000,16.782,18.938,8.049,15.828,79.390,3.711,144.146
4,2022,3,Chubut,109.000,1.444,45.707,30.940,34.682,15.309,17.563,20.024,165.778

None

In [207]:
display(internet_baf.head(), internet_baf.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               35 non-null     int64
 1   Trimestre         35 non-null     int64
 2   Banda ancha fija  35 non-null     object
 3   Dial up           35 non-null     float64
 4   Total             35 non-null     object
 5   Periodo           35 non-null     object
dtypes: float64(1), int64(2), object(3)
memory usage: 1.8+ KB

    Año  Trimestre Banda ancha fija  Dial up       Total        Periodo
0  2022          3       11.078.691   12.437  11.091.128  Jul-Sept 2022
1  2022          2       10.946.248   12.436  10.958.684   Abr-Jun 2022
2  2022          1       10.611.390   12.619  10.624.009   Ene-Mar 2022
3  2021          4       10.476.933   12.861  10.489.794   Oct-Dic 2021
4  2021          3       10.075.184   10.357  10.085.541  Jul-Sept 2021

None

In [208]:
display(internet_baf2.head(), internet_baf2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               840 non-null    int64
 1   Trimestre         840 non-null    int64
 2   Provincia         840 non-null    object
 3   Banda ancha fija  840 non-null    object
 4   Dial up           838 non-null    object
 5   Total             840 non-null    object
dtypes: int64(2), object(4)
memory usage: 39.5+ KB

    Año  Trimestre        Provincia Banda ancha fija Dial up      Total
0  2022          3     Buenos Aires        4.715.469   6.199  4.721.668
1  2022          3  Capital Federal        1.545.534   2.145  1.547.679
2  2022          3        Catamarca           70.292       1     70.293
3  2022          3            Chaco          144.141       5    144.146
4  2022          3           Chubut          164.874     904    165.778

None

In [209]:
display(internet_ingresos.head(), internet_ingresos.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        35 non-null     int64
 1   Trimestre                  35 non-null     int64
 2   Ingresos (miles de pesos)  35 non-null     object
 3   Periodo                    35 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.2+ KB

    Año  Trimestre Ingresos (miles de pesos)        Periodo
0  2022          3                67.055.930  Jul-Sept 2022
1  2022          2                60.335.724   Abr-Jun 2022
2  2022          1                55.589.997   Ene-Mar 2022
3  2021          4                45.467.887   Oct-Dic 2021
4  2021          3                42.999.944  Jul-Sept 2021

None

In [210]:
display(listado_localidades.head(), listado_localidades.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4312 entries, 0 to 4311
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      4312 non-null   object
 1   Partido        4312 non-null   object
 2   Localidad      4312 non-null   object
 3   ADSL           4312 non-null   object
 4   CABLEMODEM     4312 non-null   object
 5   DIALUP         4312 non-null   object
 6   FIBRAOPTICA    4312 non-null   object
 7   4G             4312 non-null   object
 8   3G             4312 non-null   object
 9   TELEFONIAFIJA  4312 non-null   object
 10  WIRELESS       4312 non-null   object
 11  SATELITAL      4312 non-null   object
dtypes: object(12)
memory usage: 404.4+ KB

,Provincia,Partido,Localidad,ADSL,CABLEMODEM,DIALUP,FIBRAOPTICA,4G,3G,TELEFONIAFIJA,WIRELESS,SATELITAL
0,BUENOS AIRES,Bahía Blanca,Villa Bordeau,--,--,--,--,SI,SI,--,--,--
1,BUENOS AIRES,Bahía Blanca,Villa Espora,--,--,--,--,--,--,--,--,--
2,BUENOS AIRES,Balcarce,Balcarce,SI,SI,SI,SI,SI,SI,SI,SI,--
3,BUENOS AIRES,Balcarce,Los Pinos,--,--,--,--,--,--,SI,SI,--
4,BUENOS AIRES,Balcarce,Napaleofú,--,--,--,SI,SI,SI,SI,SI,--

None